/* Sembunyikan kursor asli di seluruh halaman */
:global(body) {
  cursor: none;
}

/* Style untuk setiap partikel */
.particle {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  border-radius: 50%;
  /* Gradien ungu ke biru */
  background-image: linear-gradient(to right, #8B5CF6, #3B82F6);
  /* Menerapkan animasi */
  animation: fade-and-shrink 1s ease-out forwards;
}

/* Keyframes untuk animasi partikel */
@keyframes fade-and-shrink {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}