/* Container utama untuk setiap kartu agar memiliki perspektif 3D */
.flipCard {
  background-color: transparent;
  width: 100%;
  height: 100%; /* Menyesuaikan tinggi dengan grid */
  perspective: 1000px;
  cursor: pointer;
}

/* Kontainer internal yang akan melakukan animasi putaran */
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Terapkan rotasi saat kelas .is-flipped ditambahkan */
.isFlipped {
  transform: rotateY(180deg);
}

/* Menata sisi depan dan belakang kartu */
.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Sisi belakang kartu, diputar 180 derajat di awal */
.flipCardBack {
  transform: rotateY(180deg);
}